body
{
    background-color:lightblue;
}

.jumbotron
{
    height: 500px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.jumbotron img
{
    height: auto;
    max-width: 250px;
}
