body
{
    background-color:lightblue;
}

.jumbotron
{
    height: 100px;
    margin: 0 auto;
    text-align: center;
    height: 250px;
    width: 400px;   
}

.jumbotron img
{
    height: 100px;
    width: 100px;
}
